.container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.custom_input {
    font-size: 14px;
    color: #272848;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border: 1px solid #272848;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}

.icon {
    font-size: 30px;
}