.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 860px;
    width: 100%;
    border-right: 1px solid rgba(39, 40, 72, 0.2);
    padding: 35px 0px 0px 0px;
    font-family: 'Inter', sans-serif;
}

.prof_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.name {
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
}

.contact_title {
    font-size: 24px;
    margin: 30px 15px 15px 15px;
}

.info_section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: 20px;
}

.info_text {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-transform: capitalize;
    margin-right: 20px;
    user-select: text;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.info_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 70px 60px 70px;
    border-radius: 100px 100px 0 0;
    margin: 50px 0 0 0;
    background: #272848;
}

@media (max-width: 550px) {

    .info_content {
        padding: 60px 10px 60px 10px;
    }
}

.experience_container {
    margin-top: 30px;
}

.text_area {
    resize: none;
    width: 100%;
    min-height: 300px;
    background: white;
    margin-top: 20px;
    border-radius: 15px;
    outline: none;
    padding: 20px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    width: 150px;
    align-self: center;
    height: 30px;
    border-radius: 10px;
    background: #6D71F9;
    color: white;
    font-family: 'Inter', sans-serif;
    user-select: text;
}